<h1>Ingredients</h1>
<%-# commented line -%>
<table>
  <tr>
    <th>Name: </th>
    <th>Price: </th>
    <th>Amount: </th>
    <th>Categorie: </th>
  </tr>
<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= ingredient.price %></td>
    <td><%= ingredient.amount %></td>
    <td><%= ingredient.cat %></td>
  </tr>
<% end %>
</table>
