<h1>Ingredients</h1>
<%-# commented line -%>
<table>
  <tr>
    <th>Name: </th>
    <th>Price: </th>
    <th>Amount: </th>
    <th>Categorie: </th>
  </tr>
<% @data.each do |data| %>
  <tr>
    <td><%= data.name %></td>
    <td><%= data.price %></td>
    <td><%= data.amount %></td>
    <td><%= data.cat %></td>
  </tr>
<% end %>
</table>
